<!-- Display the title of the page -->
<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<!-- Display Messages -->
<%- messages() %>

<!-- Display Errors -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<!-- Login Form -->
<form class="login" action="/account/login" method="post">
  <label>
    Email:
    <input
      type="text"
      id="account_email"
      name="account_email"
      required
      value="<%= account_email || '' %>" />
  </label>

  <label>
    Password:
    <input
      type="password"
      id="account_password"
      name="account_password"
      pattern="^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{12,}$"
      required />
  </label>

  <div>
    <p>
      Note: Passwords must be at least 12 characters, contain one capital
      letter, one number, and one special character.
    </p>
  </div>

  <input type="submit" value="Login" />
  <p>No Account? <a href="/account/register">Sign Up</a></p>
</form>
