
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/env/sedan">Sedan</a></li>
        <li><a href="/env/sport">Sport</a></li>
        <li><a href="/env/suv">SUV</a></li>
    </ul>
</nav>


        