<h1><%= title %></h1>
<form action="/feedback/new" method="post">
  <label for="message">Your Feedback</label>
  <textarea id="message" name="message" required minlength="5"></textarea>
  <button type="submit">Submit</button>
</form>
