<h1><%- title %></h1>

<!-- Flash messages -->
<%- messages() %>

  <!-- Validation errors -->
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error=> { %>
        <li>
          <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>

      <section class="form-section">
        <form class="input-box" action="/inv/addClassification" method="post" id="addClassification-form">

          <label for="classification_name">
            CLASSIFICATION NAME
            <input type="text" id="classification_name" name="classification_name" required
              value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>"
              pattern="^[A-Za-z0-9 ]+$" title="Required. Letters, numbers, and spaces only.">
          </label>

          <span class="fine-print">Required. Letters, numbers, and spaces only.</span>

          <input type="submit" value="ADD">

        </form>
      </section>